/* @override http://0.0.0.0:3000/stylesheets/main.css */



/*************************************
 +Containers
 *************************************/
html,body {
  height: 100%;
}

body {
  background:#fff url(../images/bg.png) repeat-x;
  font-family: Verdana,"Lucida Grande","Helvetica Neue",Helvetica,sans-serif;
  font-size: 12px;
  line-height:1.5;
  margin:0;
  padding:0;
  text-align:center;
}

#wrap {
	margin: 0 auto;
	text-align: left;
	width: 76em;
	position: relative;
	min-height: 97%;
}

#content {
	font-size: 1.2em;
	float: left;
	padding: 3em 1em 1em 0;
	width: 40em;	
}

#sidebar {
  border-left: 1px #eee solid;
  border-bottom: 1px #eee solid;
	font-size: 1.1em;
	float: right;
	padding: 3em 0 2em 1em;
	width: 20em;
	background: #fefefe;
}

#sidebar h2 {
  margin-top: 1em;
}

/* header */
#header {
	height: 171px;
}

#header .title {
  position: relative;
  left: -120px;
}

#footer {
	border-top:2px solid #444;
	background: #241513;
	color: #aaa;
	clear:both;
	font-size:0.9em;
	padding: 0.5em 0;
}


img {
  border: none;
}

/*************************************
 +Hn and p
 *************************************/
 
 
h1, h2, h3{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	letter-spacing: -1px;
	margin:0;
}
#header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
  margin: 0;
  margin-right: 1em;
}
#header h1 a {
	color: #E87830;
}
#header h1 a:hover{
	color:#CC0000;
}
#header p {
	color: #aaa;
	font-size: 1.1em;
	margin: 0;
	margin-top: -0.5em;
}

.entrytitle h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 0 0 1em 0;
}

.entrytitle h2 a
{
	color: #aa5555;
}
.entrytitle h2 a:hover{
	color:#58BBEB;
}

.entrytitle .postdate {
  margin: 0 0 0 -4em;
  position: absolute;
  left: 0pt;
  top: 0pt;
  text-align: center;
  background: url(/images/postdate.png) no-repeat scroll right top;
  padding: 0.2em 0.45em;
  height: 56px;
  color: #fff;
}
.entrytitle .postdate em {
  font-size: 1.2em;
  font-style: normal;
}
#sidebar h2 {
	color:#555;
	font-size: 1.3333333333333333em;
}


.entrybody h1 {
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin: 0 0 1.125em 0;
}

.entrybody h2 {
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin: 0 0 1.2857142857142858em 0;
}


.entrybody h2 {
	font-size: 1em
	line-height: 1.5em
	margin: 0 0 1.5em 0;
}

.entrybody h1,.entrybody h2,.entrybody h3 {
  color: #962010;
}


/*************************************
 +Entry
 *************************************/
 

.entry{
	margin-bottom: 3em;
	position: relative;
}

.entrymeta{
  border-top: 1px solid #aa5555;
	font-size:0.9em;
}
.postedby{
	padding:3px;
	padding-left:20px;
}

.commentslink{
	padding: 3px 3px 3px 0;
}

/*************************************
 +Sidebar
 *************************************/
#sidebar ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#sidebar ul li{
	border-bottom:1px dotted #ddd;
	margin-bottom:0.3em;
	padding:0.3em;
}

/*************************************
 +Comments
 *************************************/
.commentsblock {
	margin:0.5em;
	padding:1em;

}
.commentsblock textarea {
	width:35em;
}
.commentsblock input, .commentsblock textare a{
	border:1px solid #d1d1d1;
}
.commentsblock textarea:focus {
	background:#eee;
	border:1px solid #a1a1a1;
}
.commentsblock textarea:focus, .commentsblock input:focus {
	background:#eee;
	border:1px solid #a1a1a1;
}
.commentauthor {
	display:block;
	font-size:1.5em;
}
ol.commentlist {
	color:#777;
	font-size:0.9em;
	list-style-type:none;
	margin:0;
	margin-top:1.5em;
	padding:0;
}
.commentlist li {
	margin-bottom:0.5em;
	padding:0.5em 1em;
}

.alt {
	background: #f3f3f3;
	border:1px dotted #d1d1d1;
	padding:0.5em;
}

h3#comments{
font-size:1.6em;
}




/*************************************
 +Misc
 *************************************/
a {
	color:#0873B6;
	text-decoration:none;
}
a:hover {
	color:#CC0000;
}

a img {
  border: none;
}

/* Syntax */

.highlighttable {
  background: #eee;
  border: 1px solid #aaa;
}

.highlighttable tr {
  overflow: hidden;
}

.highlighttable .linenos {
  background: #fff;
  padding: 0 .5em 0 1em;
}

.highlighttable .code {
  padding: 0 1em;
}





/* TOC */
fieldset.toc
{
  float: right; 
  border: dotted 1px black; 
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend
{
  font-weight: bold;
}

.toc ol
{
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol
{
  list-style-type: lower-alpha;
  padding-left: 15px;
}


/* flickr badge */

#flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
#flickr_icon_td {padding:0 5px 0 0 !important;}
.flickr_badge_image {text-align:center !important;}
.flickr_badge_image img {border: 1px solid black !important;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#962010;}
#flickr_badge_wrapper {}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}

/* last fm widget */
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e td {margin:0 !important;padding:0 !important;border:0 !important;}
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e tr.lfmHead a:hover {background:url(http://cdn.last.fm/widgets/images/en/header/chart/recenttracks_regular_grey.png) no-repeat 0 0 !important;}
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e tr.lfmEmbed object {float:left;}
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e tr.lfmFoot td.lfmConfig a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey.png) no-repeat 0px 0 !important;;}
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e tr.lfmFoot td.lfmView a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey.png) no-repeat -85px 0 !important;}
table.lfmWidgetchart_674a53f1ba521f1fb9583ccfd001bd1e tr.lfmFoot td.lfmPopup a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/grey.png) no-repeat -159px 0 !important;}